version: "3.8"

services:
  postgres:
    image: postgres:latest
    container_name: postgres-HariMart-ms
    environment:
      - POSTGRES_DB=hariMart_ms
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=harianbu@3
    ports:
      - "5434:5432"
    networks:
      - spring-HariMart-ms-net
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-HariMart-ms
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "5050:80"
    networks:
      - spring-HariMart-ms-net
    restart: unless-stopped

  mongodb:
    image: mongo
    container_name: mongo-HariMart-ms
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=hariharan
      - MONGO_INITDB_ROOT_PASSWORD=harianbu
    networks:
      - spring-HariMart-ms-net
    restart: unless-stopped

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express-HariMart-ms
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=hariharan
      - ME_CONFIG_MONGODB_ADMINPASSWORD=harianbu
      - ME_CONFIG_MONGODB_SERVER=mongo-HariMart-ms
    networks:
      - spring-HariMart-ms-net
    restart: unless-stopped

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - spring-HariMart-ms-net

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - spring-HariMart-ms-net

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka-HariMart-ms
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    networks:
      - spring-HariMart-ms-net

networks:
  spring-HariMart-ms-net:
    driver: bridge

volumes:
  postgres-data: {}
  pgadmin-data: {}
  mongo-data: {}
